//
// Gallery
// ---------------------------------------------------

.app-gallery {
    overflow: hidden;
    //margin-bottom: 1rem; 
}

.project-gallery {
    position: relative;
}

.app-gallery-caption {
    width: 100%;
        @include media-breakpoint-up(sm) {
            position: absolute;
            top: 2rem;
            left: 4rem;
            z-index: 1001;
            width: 35%;
            padding: 4rem 2rem 2rem 2rem;
            background: $app-primary;
        }
}

.app-gallery-cell {
    width: 100%;
    overflow: hidden;
        img {
            width: 100%;
        }
}
