<div class="app-card app-card-featured">
    <a class="app-card-main app-card-cover" href="{{ page.base_url }}releases/yesnut-drowning-with-a-smile">
        <div class="app-card-content">
            <div class="app-card-bg app-card-bg-03">
                &nbsp;
            </div>
            <div class="app-card-mask">
                <div class="app-card-caption">
                    <div class="app-card-caption-content">
                        <div class="app-card-caption-title">
                            Genießen
                        </div>
                        <div class="app-card-caption-teaser">
                            Ob mit der Familie, mit Freunden, Kollegen oder der ganzen Firma! Genießen Sie mit allen Sinnen und tauchen Sie mit uns ein in das einzigartige Ambiente des Spiegelpalasts Augsburg.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
