// Footer

.app-footer {
    a {
        color: #fff;
    }
    ul {
        list-style: none;
        padding-left: 0;
    }
    li:before {
        content: "• ";
        display: inline;
    }
}

.app-footer-content {
    color: #fff;
    background: $app-gray;
    min-height: 400px;
    font-size: 1rem;
    .app-coporate-logo {
        padding-right: 10rem;
        margin-bottom: 1rem;
    }
}

.app-footer-cards-wrapper {
    @extend .container;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.app-footer-cards {
    @include make-row();
    padding-left: 1rem;
    padding-right: 1rem;
}

// Footer Cards

.app-footer-card {
    @include make-col(12);
    @include media-breakpoint-up(lg) {
        @include make-col(4);
        padding: .5rem;
    }
}

.app-footer-header {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.app-footer-link {
    color: #fff;
    &:hover {
        color: darken(#fff, 6.5%);
    }
}

.app-copyright-wrapper {
    @include make-container();
    @include make-container-max-widths();
}

.app-copyright {
    @include make-row();
    padding: 2rem;
    font-weight: 500;
}

.app-copyright-logo {
    @include make-col(12);
    @include media-breakpoint-up(md) {
        @include make-col(3);
    }
}

.app-copyright-info {
    @include make-col(12);
    margin-top: 2rem;
    @include media-breakpoint-up(md) {
        @include make-col(9);
        text-align: right;
        padding-top: 1rem;
        margin-top: 0;
    }

    a {
        color: $app-primary;
    }
}