<div class="app-intro" id="app-intro">
    <div class="app-page__header">
        <div class="app-page__title">
            <h1 class="app-page-headline">Das Festivalprofil</h1>
        </div>
    </div>
        <div class="app-intro-right">
            <div class="app-intro-right-content">
                <p>Bis heute zählt Bertolt Brecht (geboren am 10.2.1898 in Augsburg, gestorben 14.8.1956 in Ost-Berlin) zu den international meist gespielten deutschen Dramatikern. Er ist fraglos einer der einflussreichsten Autoren und Lyriker, Theatertheoretiker und -praktiker des 20. Jahrhunderts.</p>

                <p>Das Brechtfestival stellt sich dem Anspruch, den gesellschaftskritischen Künstler Brecht in seinem Facettenreichtum, seiner Unbequemlichkeit und seiner Widersprüchlichkeit erlebbar zu machen. Es hat sich, wie der Bayerische Staatsminister Dr. Ludwig fpaenle in seinem Grußwort schrieb, bewusst zur Aufgabe gemacht, „Brechts Erbe generationenübergreifend weiterzugeben, zu pflegen und seine Aktualität jedes Jahr aufs Neue aufzuzeigen“.</p>     

                <p>Unter der künstlerischen Leitung von Dr. Joachim Lang hat sich das Brechtfestival seit 2010 in der Nachfolge von augsburg brecht connected (Leitung: Albert Ostermaier) als Herzstück der kulturellen Angebote der Stadt und als fester Bestandteil des deutschen Kulturkalenders etabliert.</p> 

                <p>Der Einladung nach Augsburg und damit in Brecht Geburtsstadt folgten hochkarätige Theaterensembles, Schauspieler, Musiker, Slam Poeten, Literaten, Filmemacher und Brechtforscher. Gemeinsam mit den Augsburger Kulturakteuren und Brecht-Institutionen schärften sie das Profil des genreübergreifend konzipierten Festivals, das seine überregionale Wahrnehmung und Strahlkraft kontinuierlich steigern konnten.</p>

                <p>Brechts Ziel bestand nicht zuletzt darin, Konventionen zu verlassen, um bekannte Formen der Künste zu überschreiten und sie mit den Kategorien der Veränderung und Veränderbarkeit zu verknüpfen. In seinem Lehrstück „Die Maßnahme“ (1930/31) lässt Brecht den Kontrollchor singen: “Ändere die Welt: sie braucht es!“. Diese zeitlose Botschaft liegt Brechts Haltung und seinem Werk zugrunde und übertitelt das Brechtfestival 2017, das der Berliner Regisseur und Schauspieler Patrick Wengenroth als neuer künstlerischer Leiter konzipiert und thematisch verantwortet.</p>   

                <p>Das Brechtfestival Augsburg wird veranstaltet von der Stadt Augsburg und dem Brechtbüro im Kulturamt in Kooperation mit dem Theater Augsburg. Partner des Brechtfestivals ist die Stadtfparkasse Augsburg. Mit freundlicher Unterstützung des Bayerischen Staatsministeriums für Bildung und Kultus, Wissenschaft und Kunst, der Stadtwerke Augsburg Holding GmbH sowie weiteren Förderern und Sponsoren.</p>
	        </div>
        </div>
</div>