<div class="app-partnerbar" id="partner">
    <div class="app-partner">

		<div class="app-grid">
    		<div class="app-grid__item--w50">
    			<h4>Partner der Brechtfestivals:</h4>
    			<a href="https://www.sska.de/">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-sska.png" />
				</a>
    		</div>
    		<div class="app-grid__item--w50">
    			<h4>Hauptsponsor:</h4>
    			<a href="https://www.sw-augsburg.de/">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-swa.png" />
				</a>
    		</div>
		</div>

		<div class="app-grid">
			<div class="app-grid__item--w100">
				<h4>Förderer und Partner:</h4>
			</div>
		</div>

		<div class="app-grid">
    		<div class="app-grid__item--w33">
    			<a href="https://www.km.bayern.de/">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-km-bayern.png" />
				</a>
    		</div>
    		<div class="app-grid__item--w33">
    			<a href="https://www.bezirk-schwaben.de/">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-bezirk-schwaben.png" />
				</a>
    		</div>
    		<div class="app-grid__item--w33">
    			<a href="https://theater-augsburg.de">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-theater-augsburg.png" />
				</a>
    		</div>
		</div>

		<div class="app-grid">
			<div class="app-grid__item--w100">
				<h4>Medienpartner:</h4>
			</div>
		</div>

		<div class="app-grid">
    		<div class="app-grid__item--w25">
    			<a href="http://www.augsburger-allgemeine.de/">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-augsburger-allgemeine.png" />
				</a>
    		</div>
    		<div class="app-grid__item--w25">
    			<a href="http://www.br.de/radio/bayern2/index.html">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-bayern-2.png" />
				</a>
    		</div>
    		<div class="app-grid__item--w25">
    			<a href="https://www.nachtkritik.de/">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-nachtkritik.png" />
				</a>
    		</div>

    		<div class="app-grid__item--w25">
    			<a href="http://www.taz.de/">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-taz.png" />
				</a>
    		</div>


    		<!--<div class="app-grid__item--w25">
    			<a href="http://www.theaterderzeit.de">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-theater-der-zeit.png" />
				</a>
    		</div>-->
    		<!--<div class="app-grid__item--w25">
    			<a href="https://missy-magazine.de">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-missy-magazine.png" />
				</a>
    		</div>-->
		</div>

		<div class="app-grid">
			<div class="app-grid__item--w100">
				<h4>Mit freundlicher Unterstützung von:</h4>
			</div>
		</div>

		<div class="app-grid">
    		<div class="app-grid__item--w16">
    			<a href="http://www.auto-frey.com">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-auto-frey.png" />
				</a>
    		</div>
		</div>

		<div class="app-grid">
			<div class="app-grid__item--w100">
				<h4>Weitere Partner:</h4>
			</div>
		</div>

		<div class="app-grid">
			<div class="app-grid__item--w16">
    			<a href="http://www.sensemble.de/">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-sensemble.png" />
				</a>
    		</div>
    		<div class="app-grid__item--w16">
    			<a href="http://www.timbayern.de/">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-tim.png" />
				</a>
    		</div>
    		<div class="app-grid__item--w16">
    			<a href="http://www.nuno-augsburg.de">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-nuno.png" />
				</a>
    		</div>
    		<div class="app-grid__item--w16">
    			<a href="http://www.augsburg-tourismus.de/">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-regio-augsburg.png" />
				</a>
    		</div>
    		<div class="app-grid__item--w16">
    			<a href="https://www.c-nw.de/">
					<img class="app-img" src="{{ page.base_url }}assets/img/logo-cnw.png" />
				</a>
    		</div>
		</div>     
    </div>
</div>