<div class="social-bar">
    <div class="social-bar__item">
        <a class="social-bar__link" href="https://www.facebook.com/brechtfestival/" target="_blank">
            <i class="ion ion-logo-facebook" aria-hidden="true"></i>
        </a>
    </div>
    <div class="social-bar__item">
        <a class="social-bar__link" href="https://twitter.com/BrechtfestivalA" target="_blank" >
            <i class="ion ion-logo-twitter"></i>
        </a>
    </div>
    <div class="social-bar__item">
        <a class="social-bar__link" href="https://www.instagram.com/brechtfestival/" target="_blank">
            <i class="ion ion-logo-instagram"></i>
        </a>
    </div>
</div>
