<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer-content">
        <div class="app-footer-cards-wrapper">
            <div class="app-footer-cards">
                <div class="app-footer-card">
                
                    <div class="app-footer-header"><i class="ion ion-ios-locate-outline" aria-hidden="true"></i> Veranstaltungsort</div>
                    <h6><i class="ion ion-ios-navigate-outline"></i> Spiegelpalast Augsburg</h6>
                    <p>Plärrergelände<br>Kleiner Exerzierplatz<br>86153 Augsburg</p>
                    

                    <h6><i class="ion ion-ios-navigate-outline"></i> Veranstalter</h6>
                    <p>CHRIS Kolonko Showkonzepte</p>
                    <p><i class="ion ion-ios-call-outline"></i> Tel: 089 - 726 499 - 0<br />
                        <i class="ion ion-ios-print-outline"></i> Fax: 089 - 726 499 - 22</p>
                    <p><i class="ion ion-ios-mail-outline"></i> <a class="app-footer-link" href="mailto:info@ck-showkonzepte.de">info@ck-showkonzepte.de</a></p>
                    </div>

                <div class="app-footer-card">
                    <div class="app-footer-header"><i class="ion ion-ios-browsers-outline"></i> Nützliche Links</div>
                        <ul>
                            <li><a rel="nofollow" href="{{ page.base_url }}">Startseite</a></li>
                            <li><a rel="nofollow" href="{{ page.base_url }}impressum">Impressum</a></li>
                            <li><a rel="nofollow" href="{{ page.base_url }}kontakt">Kontakt</a></li>
                            <li><a rel="nofollow" href="{{ page.base_url }}presse">Presse</a></li>
                            <li><a rel="nofollow" href="{{ page.base_url }}partner">Partner</a></li>
                            <li><a rel="nofollow" href="{{ page.base_url }}newsletter">Newsletter</a></li>
                            <li><a href="https://www.facebook.com/" target="_blank">
                                    <i class="ion ion-logo-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li><a href="https://twitter.com/" target="_blank" >
                                    <i class="ion ion-logo-twitter"></i>
                                </a>
                            </li>
                            <li><a href="https://www.instagram.com/" target="_blank">
                                    <i class="ion ion-logo-instagram"></i>
                                </a>
                            </li>
                        </ul>
                </div>

                <div class="app-footer-card">
                    <div class="app-footer-header"><i class="ion ion-ios-locate-outline" aria-hidden="true"></i> So finden Sie uns!</div>
                    <a rel="nofollow" href="https://goo.gl/maps/PUjGAPeUe3L2">
                        <img class="img-fluid" src="{{ page.base_url }}assets/img/map.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="app-copyright-wrapper">
        <div class="app-copyright">
            <div class="app-copyright-logo">
                <a href="https://ck-showkonzepte.de/">
                    <div class="app-footer-logo">
                        <img class="img-fluid" src="{{ page.base_url }}assets/img/logo-ck.png" />
                    </div>
                </a>
            </div>
            <div class="app-copyright-info">
            <p>&copy; {{ site.time | date: '%Y' }} Winter Wonderland &middot; Alle Rechte vorbehalten.</p>
            </div>
        </div>
    </div>
</footer>



