<footer class="app-footer" id="app-footer" role="contentinfo">
    <div class="app-footer-content">
        <div class="app-footer-cards-wrapper">
            <div class="app-footer-cards">
                <div class="app-footer-card">
                
                    <div class="app-footer-header">
                        <i class="ion ion-ios-locate-outline" aria-hidden="true"></i> Frauenpraxis Augsburg
                    </div>
                    <p>Philippine-Welser-Straße 19<br>86150 Augsburg</p>
                    <p><i class="ion ion-ios-call-outline"></i> Telefon: 0821 - 34 33 077<br />
                        <i class="ion ion-ios-print-outline"></i> Telefax: 0821 - 34 33 078</p>
                    <p><i class="ion ion-ios-mail-outline"></i> <a class="app-footer-link" href="mailto:praxis@frauenpraxis-augsburg.de">praxis@frauenpraxis-augsburg.de</a>
                    </p>

                    <a href="https://www.jameda.de/augsburg/gemeinschaftspraxen/dres-katharina-anstett-und-marion-schaefer/uebersicht/71523367000_2/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Lob und Anregung</a>


                </div>

                <div class="app-footer-card">
                    <div class="app-footer-header"><i class="ion ion-ios-browsers-outline"></i> Unsere Sprechzeiten</div>
                    <div class="app-page-block">

                        <div class="app-page-block-content-4">
                            Montag
                        </div>
                        <div class="app-page-block-content-8">
                            08:00 - 17:00 Uhr
                        </div>

                        <div class="app-page-block-content-4">
                            Dienstag
                        </div>
                        <div class="app-page-block-content-8">
                            07:00 - 20:00 Uhr
                        </div>

                        <div class="app-page-block-content-4">
                            Mittwoch
                        </div>
                        <div class="app-page-block-content-8">
                            08:30 - 13:00 Uhr
                        </div>

                        <div class="app-page-block-content-4">
                            Donnerstag
                        </div>
                        <div class="app-page-block-content-8">
                            07:00 - 20:00 Uhr
                        </div>

                        <div class="app-page-block-content-4">
                            Freitag
                        </div>
                        <div class="app-page-block-content-8">
                            08:00 - 13:00 Uhr
                        </div>
                    </div>

                </div>

                <div class="app-footer-card">
                    <div class="app-footer-header"><i class="ion ion-ios-locate-outline" aria-hidden="true"></i> So finden Sie uns!</div>
                    <a rel="nofollow" href="https://goo.gl/maps/qFJxRtVp6Qy">
                        <img class="img-fluid" src="{{ page.base_url }}assets/images/map.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="app-copyright-wrapper">
        <div class="app-copyright">
            <div class="app-copyright-logo">
                <a href="{{ page.base_url }}">
                    <div class="app-footer-logo">
                        <img class="app-img" src="{{ page.base_url }}assets/images/fpa-logo-orange.svg" />
                    </div>
                </a>
            </div>
            <div class="app-copyright-info">
            <p>&copy; {{ site.time | date: '%Y' }} Frauenpraxis &middot; Alle Rechte vorbehalten &middot; <a href="{{ page.base_url }}impressum">Impressum</a> &middot; <a href="{{ page.base_url }}datenschutzerklaerung">Datenschutz</a></p>
            </div>
        </div>
    </div>
</footer>



